# General
DISPLAY_HEADER=false
COPY_INDICES=true
READ_TO_MEMORY=true

# MongoDB technical specs
## Origin
MONGODB_ORIGIN_CONNECTION_STRING=mongodb://foo:bar@localhost:27017/?authSource=admin&readPreference=primary&directConnection=true&ssl=true&tlsAllowInvalidCertificates=true
MONGODB_ORIGIN_DB=foo_db
MONGODB_ORIGIN_COLLECTIONS=collection1,collection2
## Destination
MONGODB_DESTINATION_CONNECTION_STRING=mongodb://foo:bar@localhost:27017/?authSource=admin&readPreference=primary&directConnection=true&ssl=true&tlsAllowInvalidCertificates=true
MONGODB_DESTINATION_DB=foo2_db
